/* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.css';
body{
    background-color: #14161E;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 200;
    color: #fff;
}

p{
    color: #fff;
}

hr{
    color: #fff;
}

.cursor{
    cursor: pointer;
}